        <!-- Masthead-->
        <header class="masthead-favs" >
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-baseline">
                        <h1 class="text-white font-weight-light title-font mb-5 lower" style="margin-top:30%; margin-bottom:0%;">RETROUVEZ VOS FAVORIS SUR CETTE PAGE</h1>
                        <img src="{{product.front_img}}">
                    </div>
                </div>
            </div>
        </header>