[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
appdirs = "*"
asgiref = "*"
atomicwrites = "*"
attrs = "*"
certifi = "*"
chardet = "*"
click = "*"
colorama = "*"
coverage = "*"
dj-database-url = "*"
django-cors-headers = "*"
django-heroku = "*"
djangorestframework = "*"
flake8 = "*"
gunicorn = "*"
idna = "*"
importlib-metadata = "*"
mccabe = "*"
model-bakery = "*"
more-itertools = "*"
mysqlclient = "*"
pathspec = "*"
pluggy = "*"
psycopg2 = "*"
py = "*"
pycodestyle = "*"
pyflakes = "*"
pyparsing = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
pytz = "*"
regex = "*"
requests = "*"
selenium = "*"
six = "*"
sqlparse = "*"
toml = "*"
typed-ast = "*"
urllib3 = "*"
wcwidth = "*"
whitenoise = "*"
zipp = "*"
Django = "*"
django-crispy-forms = "*"

[requires]
python_version = "3.7.5"
