{% extends 'base.html' %} 
{% block content%}
{% load static %}
<div class="text-center" style="width: 80%; margin: 0 auto;">
  {% comment %} <h1>Password Reset Form</h1> {% endcomment %}
  <h3 style="color:#e8ecf1; margin-top: 100px !important;margin-bottom: -76px;">Forgot your password? 
    Please enter the email address you used to register
    with us and we will send you a link to reset your password
  </h3>
</div>
<br />
<form action="" method="POST" class="text-center" style="
margin-bottom: 100px !important;
margin-top: 100px;
background-color: #E8A75D;
height: 200px;
padding-top: 100px;"
>
  {% csrf_token %} 
  {{form}}
  <button type="submit" class="btn btn-info">Reset Password</button>
</form>

{% endblock%}