{% extends 'base.html' %}
    {% block content %}
        {% load static %}
        <!-- Masthead-->
        <header class="masthead-account" id="account">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-baseline">
                        <h1 class="text-white font-weight-light title-font mb-5 up">CONNEXION</h1>
                    </div>
                </div>
            </div>
        </header>

        <!-- Services section-->
        <section class="page-section account-bkg" id="personal">
           <div class="container">
                {% if not request.user.is_authenticated %}
                <h2 class="text-center mt-0">Connectez-vous</h2>
                {% else %}
                <h2 class="text-center mt-0">Déconnectez-vous</h2>
                {% endif %}
                <hr class="divider my-4" />
                        {% if form.errors.items|length > 0  %}
                            <h5>VEUILLEZ CORRIGER AU MOINS UNE ERREUR PARMI:</h5>

                                {% for field, error in form.errors.items %}
                            <div style="color: red"><strong>{{field}}: {{ error }}</strong></div>
                            {% endfor %}
                        {% endif %}
                    {% if not request.user.is_authenticated %}
                    <form action="/roles/signin" method="post">
                      {% csrf_token %}
                      <center>{{form}}</center>
                      <center><input type="submit" class="btn btn-primary"></center>
                      <center><big id="emailHelp" class="form-text "><a href="/roles/register" name="register_link"><strong>S'inscrire</strong></a></big></center>
                      <center><big id="resetpassword" class="form-text "><a href="/roles/reset_password" name="reset_link">Mot de passe oublié</a></big></center>
                    </form>
                    {% else %}
                    <form action="/roles/logout" method="post">
                        {% csrf_token %}

                            <center><input id="logout_btn" type="submit" class="btn btn-outline-dark"></center>

                    </form>
                    {% endif %}


            </div>
        </section>
{% endblock %}